@charset "UTF-8";

li{ list-style-type:none; }
a:link, a:visited{ color:#000; text-decoration:none; }
img{border:none;}

.login_logo { text-align: center; padding-bottom: 50px; }
.login_auto_box { padding-bottom: 15px; overflow: hidden; color: #999; font-size: 13px; }
.login_auto_box div { float: left; }
.login_auto_box div.login_auto_chk { padding-left: 15px; height: 20px; line-height: 20px; }
.login_auto_chk span { font-size: 13px; }
.login_auto_box div.id_password_find_box { float: right; height: 20px; line-height: 20px; }
.login_auto_box div.id_password_find_box a.btn02 { width: 140px; margin-right: 10px; padding: 0; }

.login_info { overflow: hidden; margin-top: 15px; text-align: center; }
.login_info div { display: inline-block; padding: 0 5px; }
.login_info .login_member_text { line-height: 18px; color: #999; }


/* 鍮꾪쉶�� 援щℓ */
.privacy_textarea_btn_wrap { border: 1px solid #ddd; padding: 10px; margin-top: 20px; cursor: pointer; }
.privacy_textarea_btn_text { float: left; }
.privacy_textarea_btn_arrow { float: right; color: #666; }
.privacy_textarea_arrow_img { padding-left: 10px; }
.privacy_textarea_btn_area { padding: 0; margin: 0; }
.privacy_textarea_btn_area:after { content: ''; display: block; clear: both; }
.p_guest_privacy_textarea { border: 1px solid #ccc; border-top: 0; height: 100px; padding: 5px; overflow-y: scroll; display: none; }
.p_guest_privacy_textarea div { font-size: 13px; color: #999; text-align: left; padding: 5px 5px 0; }
.order_chk { padding: 10px; }

/* �ㅼ씠踰� 濡쒓렇�� */
.order_login_box div { border: 1px solid #ccc; height: 50px; text-align: center; margin-bottom: 10px; }
.order_login_box .order_login_naver a { display: block; height: 50px; line-height: 50px; color: #999; font-size: 15px; }
.order_login_box .order_login_naver a .order_login_img { display: inline-block; width: 65px; margin-right: 3px; }
.order_login_box div a img { width: 100%; max-height: 100%; vertical-align: inherit; }