<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studioj.mybatis.myMapper">
	<select id="register" resultType="com.studioj.dto.MemberDTO">
		insert into studioj_member (id,pw,name,nick,mail,tel,quiz,mservice,sms) values(#{id},#{pw},#{name},#{nick},#{mail},#{tel},#{quiz},#{mservice},#{sms});
	</select>
	<select id="userCheck" resultType="com.studioj.dto.MemberDTO">
		select * from studioj_member where id = #{id}
	</select>
	<select id="searchCheck" resultType="com.studioj.dto.MemberDTO">
		select * from studioj_member where quiz = #{quiz}
	</select>
	<select id="memberInfo" resultType="com.studioj.dto.MemberDTO">
		select * from studioj_member where id = #{id}
	</select>
	<select id="upData" resultType="int">
		update studioj_member set pw=#{pw}, name=#{name}, nick=#{nick}, tel=#{tel}, mail=#{mail} where id=#{id}
	</select>
	<select id="delete" resultType="int">
		delete from studioj_member where id = #{id}
	</select>
	
	<!-- 이 아래론 inquire -->
	<select id="boardlist" resultType="idto">
		select * from studioj_inquire where step = 0 order by num desc limit #{page}, 10 
	</select>
	<select id ="getMaxNum" resultType="int">
		select max(num) from studioj_inquire
	</select>
	
	
	<insert id="writeSave" parameterType="idto">
		insert into studioj_inquire(num,name,pw,email,tel,title,content,idgroup,step,indent,secret) values(#{num},#{name},#{pw},#{email},#{tel},#{title},#{content},#{idgroup},0,0,#{secret})
	</insert>
	<select id ="getTotalPage" resultType="int">
		select count(*) from studioj_inquire where step=0;
	</select>

	<select id ="contentView" resultType="idto">
		select * from studioj_inquire where num =#{num}
	</select>
	<update id = "uphit">
	 	update studioj_inquire set hit = hit+1 where num =#{num}
	</update>
	<select id ="replyList" resultType="idto">
		select * from studioj_inquire where idgroup =#{num} and step>0
	</select>
	<update id = "replyShap" parameterType="idto">
		update studioj_inquire set step=step+1 where idgroup=#{idgroup} and step>#{step}
	</update>
	<insert id ="reply">
		insert into studioj_inquire(num,name,content,idgroup,step,indent) values(#{num},#{name},#{content},#{idgroup},#{step}+1,#{indent}+1)
	</insert>
	<update id="replyup">
		update studioj_inquire set replyhit=replyhit+1 where idgroup=#{num} and step=0
	</update>
	
	<select id = "searchTitle" resultType="idto">
		select * from studioj_inquire where title like #{str}
	</select>
	<select id = "searchContent" resultType="idto">
		select * from studioj_inquire where content like #{str}
	</select>
	<select id = "searchName" resultType="idto">
		select * from studioj_inquire where name like #{str}
	</select>
	<update id="inquireModify">
		update studioj_inquire set title=#{title}, content=#{content} where num=#{num}
	</update>
	<delete id = "inquireDelete">
		delete from studioj_inquire where num=#{num}
	</delete>
	<delete id="replyDel">
		delete from studioj_inquire where num=#{num}
	</delete>
	
	
<!-- 

	

	<select id = "replyView" resultType="dto">
		select * from carehp_board where id =#{id}
	</select>
	

	<select id ="getcount" resultType="int">
		select count(*) from carehp_board
	</select>
 -->
 
 
 <!--   이벤트 부분  -->
	<select id="eventList" resultType="edto">
		select * from studioj_event where step = 0 order by num desc limit #{page}, 10 
	</select>
 	<select id ="eGetTotalPage" resultType="int">
		select count(*) from studioj_event where step=0;
	</select>
	<update id = "eUphit">
	 	update studioj_event set hit = hit+1 where num =#{num}
	</update>
 	<select id ="eContentView" resultType="edto">
		select * from studioj_event where num =#{num}
	</select>
 	<update id="eventModify">
		update studioj_event set title=#{title}, content=#{content} where num=#{num}
	</update>
	<delete id = "eventDelete">
		delete from studioj_event where num=#{num}
	</delete>
	<select id ="eventGetMaxNum" resultType="int">
		select max(num) from studioj_event
	</select>
	<insert id="eWriteSave">
		insert into studioj_event(num,title,content,idgroup,step,indent) values(#{num},#{title},#{content},#{idgroup},0,0)
	</insert>
 	<update id = "eReplyShap" parameterType="edto">
		update studioj_event set step=step+1 where idgroup=#{idgroup} and step>#{step}
	</update>
	<insert id ="eReply">
		insert into studioj_event(num,name,content,idgroup,step,indent) values(#{num},#{name},#{content},#{idgroup},#{step}+1,#{indent}+1)
	</insert>
	<update id="eReplyup">
		update studioj_event set replyhit=replyhit+1 where idgroup=#{num} and step=0
	</update>
 
 	<select id ="eReplyList" resultType="edto">
		select * from studioj_event where idgroup =#{num} and step>0
	</select>
 	<delete id="eReplyDel">
		delete from studioj_event where num=#{num}
	</delete>
 
 <!-- 갤러리! -->
 
 	<select id="imgReadAll"	 resultType="fdto">
		select * from studioj_gallery_file order by bno asc
 	</select>
 
 
 	<select id="getMaxBno" resultType="int">
 		select max(bno) from studioj_gallery
 	</select>
 	<insert id ="imgWrite" parameterType="bdto">
 		insert into studioj_gallery(bno, name, title, content) values (#{bno}, #{name}, #{title},#{content})
 	</insert>
 	<insert id="insertFile" parameterType="hashMap">
 		INSERT INTO studioj_gallery_file(
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			#{BNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
 	</insert>
	
</mapper>
