<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
		<typeAlias alias="dto" type="com.studioj.dto.MemberDTO"/>
		<typeAlias alias="idto" type="com.studioj.dto.InquireDTO"/>
  		<typeAlias alias="edto" type="com.studioj.dto.EventDTO"/>
  		<typeAlias alias="bdto" type="com.studioj.dto.GalleryBoardDTO"/>
  		<typeAlias alias="fdto" type="com.studioj.dto.GalleryDTO"/>
   </typeAliases>
</configuration>